body{
  margin: 0;
  padding:0;
  font-family: sans-serif;
  transition: 0.5s;
}

input{
  width: 15%;
  height: 8%;
  outline: none;
  border: 1px solid rgba(0,0,0,0.5);
  font-family: Source Sans Pro;
  font-weight: lighter;
  font-size: 14px;
  margin-right: 10px;
  text-transform: capitalize;
}

button{
  width: 15%;
  height: 9%;
  font-size: 16px;
  background: skyblue;
  font-weight: lighter;
  color: #000;
  border: 0px;
  border-radius: 5px;
  transition: 0.5s;
}

.toggle{
  position: absolute;
  top: 40px;
  right: 50px;
  background: #fff;
  border: 2px solid #00151f;
  height: 20px;
  width: 45px;
  cursor: pointer;
  border-radius: 20px;
  transition: 0.5s;
}

.toggle.active{
  background: #00151f;
  border: 2px solid #fff;
}

.toggle:before
{
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 18px;
  height: 16px;
  background: #00151f;
  border-radius: 50%;
  transition: 0.5s;
}

.toggle.active:before{
  left: 27px;
  background: #fff;
}

.container{
  margin: 100px auto;
   height: 500px;
  width: 80%;
  text-align: center;
   border: 3px solid #000;
}

.container h1{
  text-align: center;
  margin: 15px 0 20px;
  padding: 0;
  color: #000;
  transition: 0.5s;
}

.container p {
  margin: 25px 0 20px;
  padding: 0;
  transition: 0.5s;
  color: #000;
  font-size: 18px;
}

body.night .container{
   border: 3px solid #fff;
}

body.night{
  background: #00151f;
}

body.night .container h1{
  color: #fff;
}

body.night .container p{
  color: #fff;
}

body.night .fa-sun{
  color: #fff;
}

body.night .fa-moon{
  color: #fff;
}

img {
  max-width: 100%;
  height: 50%;
}

.warning{
  color: red;
  display: none;
}

.fa-sun{
  position: absolute;
  top: 44px;
  right: 105px;
}

.fa-moon{
  position: absolute;
  top: 44px;
  right: 30px;
}
